@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('./assets/Fonts/Manrope/Manrope-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Adjust this based on the font weight range */
  font-style: normal;
}

a {
  @apply text-[#6941C6] dark:text-[#AFA1FC] underline;
}

body {
  @apply font-manrope dark:bg-[#101828] dark:text-white;
}
.FormInput_label {
  @apply block text-gray-700 text-[16px] font-bold mb-2 dark:text-white;
}
.form_input {
  @apply active:dark:bg-black dark:text-white appearance-none dark:bg-[#1D2939] dark:border-white dark:border-opacity-[6%] border border-gray-300 rounded-[8px] w-full py-[12px] px-[14px] text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-purple-500 transition duration-200;
}
.btn_primary {
  @apply bg-[#6941C6] text-white h-[48px] font-bold py-2 px-4 rounded-[8px] w-full hover:bg-[#5c37a6] transition duration-200;
  @apply dark:bg-gradient-to-r dark:from-[#C1B5FD] dark:to-[#AC9DFC] dark:text-black;
}
/* Signup.css */
.terms-checkbox {
  display: none; /* Hide the default checkbox */
}

.terms-checkbox + label {
  position: relative;
  padding-left: 30px; /* Space for the custom checkbox */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #6941C6; /* Border color */
  border-radius: 4px; /* Rounded corners */
  background-color: white; /* Background color */
}

.terms-checkbox:checked + label .checkmark {
  background-color: #6941C6; /* Background color when checked */
  border-color: #6941C6; /* Border color when checked */
}

.terms-checkbox:checked + label .checkmark:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white; /* Checkmark color */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
